pkgbase = clipcascade-bin
	pkgdesc = ClipCascade: Sync clipboard across multiple devices
	pkgver = 3.1.0
	pkgrel = 1
	url = https://github.com/Sathvik-Rao/ClipCascade
	arch = x86_64
	license = GPL-3.0
	makedepends = unzip
	depends = tk
	depends = python
	depends = python-pillow
	depends = python-plyer
	depends = python-pycryptodome
	depends = python-pystray
	depends = python-requests
	depends = python-websocket-client
	depends = python-xxhash
	depends = python-pyfiglet
	depends = python-beautifulsoup4
	depends = python-aiortc
	depends = python-ifaddr
	depends = xclip
	source = https://github.com/Sathvik-Rao/ClipCascade/releases/download/3.1.0/ClipCascade_Linux.zip
	source = clipcascade.png::https://raw.githubusercontent.com/Sathvik-Rao/ClipCascade/refs/tags/3.1.0/logo/logo.png
	source = clipcascade.desktop
	source = fix-write-path.patch
	sha256sums = 66c02e84c47cdc9eb2686ab551f52bbfb38fbce091e2a54002807612afd2c65f
	sha256sums = 54974fabd99d918ea142163db566a98d3ca1a43b5a0f3d0c7ed7224ecccbd3b9
	sha256sums = 6b90177c1c1ed1e575cb1f553cd2cde4b2b92d32743e32ec046aaf2ed3674594
	sha256sums = c831a463b7ddb2e22d53e5f80996e3305183ff88d671a32f73000783f71df13f

pkgname = clipcascade-bin
