pkgbase = clipcascade-bin
	pkgdesc = Sync clipboard across multiple devices
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/Sathvik-Rao/ClipCascade
	install = clipcascade-bin.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = tk
	depends = python
	depends = python-pillow
	depends = python-plyer
	depends = python-pycryptodome
	depends = python-pystray
	depends = python-requests
	depends = python-websocket-client
	depends = python-xxhash
	depends = python-pyfiglet
	depends = python-beautifulsoup4
	depends = python-aiortc
	optdepends = xclip: clipboard sync on Xorg sessions (REQUIRED on Xorg)
	optdepends = wl-clipboard: clipboard sync on Wayland sessions (REQUIRED on Wayland)
	optdepends = xorg-xwayland: tray icon on Wayland sessions (REQUIRED on Wayland)
	optdepends = python-gobject: GTK-based clipboard monitor on X11
	optdepends = gtk3: GTK-based clipboard monitor on X11
	optdepends = noto-fonts-emoji: emoji glyphs in tray menu
	provides = clipcascade
	conflicts = clipcascade
	source = https://github.com/Sathvik-Rao/ClipCascade/releases/download/3.2.0/ClipCascade_Linux.zip
	source = clipcascade.svg::https://raw.githubusercontent.com/Sathvik-Rao/ClipCascade/refs/tags/3.2.0/logo/logo.svg
	source = clipcascade.desktop
	source = clipcascade.sh
	source = fix-write-path.patch
	sha256sums = 5c42d3bec6efb79acae6f86e662d14b0be6162b7321aec64915775568913fbbd
	sha256sums = b6bd10b3ea41fa8643947f3735256fb77b9d6e852736df61b13b0cb803d25d1e
	sha256sums = 93e8a6c01a9454dc3bff053e46d44792a4d56687f94a24f534003d8a8dd77e4e
	sha256sums = 7bf24291bf2b9ca51782c328ad37b35faea5b27c33f0bb1e6ef71c6744b4702d
	sha256sums = 0337b1aa9c917077a7cec4db22d6930893ad052fb99347bb880daf7247e8b8fd

pkgname = clipcascade-bin
